from __future__ import annotations
from typing import Union, TYPE_CHECKING


if TYPE_CHECKING:
    from {{ library }} import Client, AutoShardedClient
    from {{ library }}.ext.commands import Bot, AutoShardedBot

    {% if library == "disnake" %}
    from disnake.ext.commands import InteractionBot, AutoShardedInteractionBot
    {% endif %}

    AnyBot = Union[
        Client,
        AutoShardedClient,
        Bot,
        AutoShardedBot,
        {% if library == "disnake" %}
        InteractionBot,
        AutoShardedInteractionBot,
        {% endif %}
    ]

import {{ library }}

Bot = {{ library }}.ext.commands.Bot
AutoShardedBot = {{ library }}.ext.commands.AutoShardedBot
{% if library == "disnake" %}
InteractionBot = {{ library }}.ext.commands.InteractionBot
AutoShardedInteractionBot = {{ library }}.ext.commands.AutoShardedInteractionBot
{% endif %}